/* Reset lại toàn bộ khoảng cách mặc định của mọi thẻ HTML */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ép thẻ html, thẻ body và thẻ chứa gốc của React (#root) phải full 100% */
html, body, #root {
  width: 100%;
  height: 100%;
  background-color: #f8fafc; /* Lót màu nền trùng với màu Login để không bị lộ */
}